{% extends "base.html" %}

{% block content %}
{% for ordered_list in object %}
<div class="col-md-12 mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-muted">Your Reference Code Order </span>
    <span class="badge badge-secondary badge-pill">{{ ordered_list.ref_code }}</span>
    </h4>
    <ul class="list-group mb-3 z-depth-1">
    {% for order_item in ordered_list.items.all %}
    <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
        <h6 class="my-0">{{ order_item.quantity }} x {{ order_item.item.title}}</h6>
        <small class="text-muted">{{ order_item.item.description}}</small>
        </div>
        <span class="text-muted">Rp{{ order_item.get_final_price }}</span>
    </li>
    {% endfor %}
    
    <li class="list-group-item d-flex justify-content-between">
        <span>Total (Rp)</span>
        <strong>Rp{{ ordered_list.get_total }}</strong>
        {% if ordered_list.is_paid == False %}
        <li class="list-group-item d-flex justify-content-between bg-light">
            <div class="text-succes">
            <h6 class="my-0">Your payment is on verification</h6>
            </div>
            
        </li>
        {% endif %}
        {% if ordered_list.is_paid == True %}
        <li class="list-group-item d-flex justify-content-between bg-light">
            <div class="text-success">
            <h6 class="my-0">Your payment success</h6>
            </div>
            
        </li>
        {% endif %}
        {% if ordered_list.being_delivered == True %}
        <li class="list-group-item d-flex justify-content-between bg-light">
            <div class="text-success">
            <h6 class="my-0">Your order is on being delivered</h6>
            </div>
            
        </li>
        {% endif %}
    </li>
    </ul>


   

    {% if ordered_list.being_delivered == True %}
    <form action="{% url 'store:StatusOrderedView' %}" method="POST">
        {% csrf_token %}
        <div class="input-group">
          
            <div class="input-group-append">
            <button value = "{{ ordered_list.id }}", name= id , class="btn btn-primary btn-md waves-effect m-0" type="submit">Received</button>
            </div>
        </div>
    </form>
    {% endif %}

    
   

</div>
{% empty %}
    <tr>
        <td colspan='5'>This is empty</td>
    </tr>
    <tr>
        <td colspan="5">
        <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
        </td>
    </tr>

{% endfor %}

{% endblock content %}
